<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basics</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script
            src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"
            defer
        ></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Vue Course Goals</h1>
        </header>
        <section id="user-goals">
            <h2>My course goals</h2>
            <input type="text" v-model="enteredGoalValue"/>
            <button @click="addGoal">Add Goal</button>
            <p v-if="goals.length === 0">
                No goals have been added yet - please start adding some!
            </p>
            <ul v-if="goals.length > 0">
            <!-- <ul v-show="goals.length > 0"> 토글버튼같은 자주 바뀌는상황일떄 쓰이는게 좋음 display true false 바꾸는 느낌
               if문은 html을 생성 삭제하지만 v-show는 삭제하지 않고 이미 만들어진 상태임.-->
                <li v-for="(goal, index) in goals">{{ goal }} - {{ index }}</li>
            </ul>
        </section>
    </body>
</html>
