<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Basics</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="styles.css" />
        <script
            src="https://unpkg.com/vue@3.3.4/dist/vue.global.js"
            defer
        ></script>
        <script src="app.js" defer></script>
    </head>
    <body>
        <header>
            <h1>Vue Events</h1>
        </header>
        <section id="events">
            <h2>Events in Action</h2>
            <button @click="increment(5)">Add</button>
            <button @click="decrement(5)">Remove</button>
            <button @click="reset()">Reset</button>
            <!-- <p v-once>Starting Counter: {{ counter }}</p> -->
            <p>Result: {{ counter }}</p>
            <button @click="resetInput">Reset Button</button>
            <input type="text" v-model="name"/>
            <input type="text" v-model="lastname"/>
            <p v-model="fullname">Your Name: {{ name }}</p>
            <form v-on:submit.prevent="submitForm">
                <input type="text"v-model="name"/>
                <button>Sign Up</button>
            </form>
        </section>
    </body>
</html>
